@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.found-city {
    position: relative;
    border: $basic-border;
    padding: 50px 1rem;
    text-align: center;
    flex: 1 0 99%;
    margin: 1%;
    cursor: pointer;
}

.country-flag {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
} 

.city-name {
    font-size: 1.5rem;
} 

.country-name {
    color: $light-color;
} 

@include tablet {
    .found-city{
        flex: 1 0 48%;
        max-width: 48%;
        
        &:last-of-type{
            margin-right: auto;
        }
    }
}

@include laptop {
    .found-city {
        flex: 1 0 31.3333%;
        max-width: 31.3333%;
    }
}