@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.top-bar{
    background: $dark-color;
    color: $white-color;
    padding: .5rem 0 1.5rem;
    
    h2{
        font-family: $secondary-font;
        font-size: 3rem;
        font-weight: 400;
        text-align:center;
    }
}

.stat-boxes{
    @include flex(space-between);
    width: 100%;
    margin: 1rem 0;
} 

.statistics {
    border: $basic-border;
    flex-basis: 45%;
    padding: 1rem;
    text-align: center;
    
    p:first-of-type{
        font-size: .8rem;
        color: $light-color;
    }

    p:last-of-type{
        font-size: 1.2rem;
    }
}


@include tablet {
    .statistics{
        flex-basis: 25%;
    }
}