@import '../../shared//styles/variables.scss';
@import '../../shared//styles//placeholders.scss';

.column {
    @extend %flex-column;
    flex: 1 0 50%;
    font-family: $secondary-font;
    text-align: center;
    position: relative;
}

.filled-button {
    @extend %action;
    background: $accent-color;
    color: $dark-color;
    border: none;
    text-decoration: none;
}

.outline-button {
    @extend %action;
    background: transparent;
    color: #fff;
    border: $bold-border;
}