@import '../../shared/styles/variables.scss';

.collection {
    position: relative;
    flex-basis: 100%;
    margin-bottom: 1rem;
    height: 200px;

    &::before{
        content: '';
        position: absolute;
        top:0; left:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }
}

.text-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
}

.collection-title {
    font-size: 1.1rem;
    color: $white-color;
    margin-bottom: .5rem;
}

.collection-desc {
    font-size: .9rem;
    color: #e5e5e5;
}

.action-link {
    position: absolute;
    color: #e5e5e5;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    padding: .5rem 2rem;
    border: $basic-border;
    transition: all .3s ease;
    
    &:hover{
        background: $accent-color;
        color: $dark-color;
        cursor: pointer;
    }
}   

@media (min-width: 768px){
    .collection{
        flex-basis: 49%;
        flex-direction: row;
    }
}

@media (min-width: 1024px){
    .collection{
        flex-basis: 45%;
        flex-direction: row;
    }
}