@import '../../shared/styles/variables.scss';
@import '../../shared/styles/placeholders.scss';

.collection {
    position: relative;
    flex-basis: 100%;
    margin-bottom: 1rem;
    height: 200px;

    &::before{
        @extend %full-width;
        content: '';
        position: absolute;
        top:0; left:0;
        background: $transparent-black;
    }
}

.text-wrapper {
    @extend %full-width;
    position: relative;
    padding: 3rem 1rem;
}

.collection-title {
    font-size: $bigger;
    color: $white-color;
    margin-bottom: .5rem;
}

.collection-desc {
    font-size: $smaller;
    color: #e5e5e5;
}

.action-link {
    position: absolute;
    color: #e5e5e5;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    padding: .5rem 2rem;
    border: $basic-border;
    transition: $transition;
    
    &:hover{
        background: $accent-color;
        color: $dark-color;
        cursor: pointer;
    }
}   

@include tablet {
    .collection{
        flex-basis: 49%;
        flex-direction: row;
    }
}

@include laptop {
    .collection{
        flex-basis: 45%;
    }
}