@import './variables.scss'; 

@mixin button-hover($background-color, $color){
    background: $background-color;
    color: $color;
}

@mixin flex($justify) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
}

@mixin tablet {
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop-breakpoint){
        @content;
    }
}