@import '../../shared/styles/variables.scss';
@import'../../shared/styles/placeholders.scss';

.form {
    width: 90%;
} 

.input {
    @extend %action;
    text-align: center;
    width: 100%;
    background: transparent;
    color: $white-color;
    border: $bold-border;
    cursor: auto;

    &::placeholder{
        color: $light-color;
    }
}


.submit-button {
    @extend %action;
    width: 100%;
    background: $accent-color;
    color: $dark-color;
    border: none;
}


@media (min-width: 768px){
    .form{
        width: 70%;
    }
}

@media (min-width: 1024px){
    .form{
        width: 60%;
    }

    .submit-button {
        width: 30%;
        margin: 1rem 0; 
        margin-left: auto;
    }
}