@import '../../shared/styles/variables.scss';

.main-title {
    font-family: $secondary-font;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
} 

.subtitle {
    text-align: center;
    color: $light-color;
    font-size: $bigger;
    margin-bottom: 2rem;
} 