@import '../../shared/styles/variables.scss';

.navbar {
    background: transparent;
    padding: 1rem;
    text-align: center;
    
    a{
        font-family: $secondary-font;
        color: $white-color;
        text-decoration: none;
    }
}
