@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixin.scss';

.cuisines-list {
    @include flex(flex-start);
}

.cuisine {
    flex-basis: 100%;
    margin-bottom: .5rem;
    border: $basic-border;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 768px){
    .cuisine{
        flex-basis: 30%;
        margin: .5rem 1%;
    }
}